@import "../../style.scss";

.home {
  @include themify($themes) {
    background-color: themed("bg");
    color: themed("textColor");
    padding: 10px 10px;

    .softwareIntro {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 90vh;
      background-color: themed('bgSoft');
      border-radius: 4px ;


      .wordIntro {
        flex: 1;
      }
      .dpIntro {
        flex: 1;
      }
        .projectIntro {
        }

        .photoIntro {
        
      
        }}
  }
   
  }



 