@import "../../style.scss";

.home {
  @include themify($themes) {
    background-color: themed("bg");
    color: themed("textColor");
    // padding: 10px 10px;

    .softwareIntro {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 80vh;
      gap: 100px;


      .wordIntro {
        flex: 1;

        h1 {
          background: #B7DEED;
          background: linear-gradient(to right, #B7DEED 0%, #71CEEF 25%, #21B4E2 75%, #B7DEED 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 3rem;
        }
      }
      .dpIntro {
        flex: 1;

          animation-name: ani-float;
          animation-duration: 3s;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out; 
          
        @keyframes ani-float {
            0% { transform: translate(0,  0px); }
            50% { transform: translate(0, 15px); }
            100% { transform: translate(0, -0px); }    
          }
        

        img {
          height: 30vh;
          width: 30vhw;
          border-radius: 10px;
          -webkit-box-shadow:0px 0px 83px 38px #2664a6 ;
          -moz-box-shadow:0px 0px 83px 38px #2664a6 ;
          box-shadow:0px 0px 83px 38px #2664a6 ;
        }
      }
     }
    .projectIntro {
          padding: 20px;
          border-bottom: 1px solid themed('border');
          
          .projecth1 {
            background-color: themed('bgSoft');
            border-radius: 5px;
            font-size: 18px;
            padding: 40px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 100px;

            .span1 {
              font-size: 24px;
              color: themed('textColorSoft');
            }
            }

            .projectdiv {
              display: flex;

              .buttons {
                flex: 1;
                display: flex;
                gap: 40px;

                 
        .button1 {
          background-image: linear-gradient(to right, #000428 0%, #004e92  51%, #000428  100%);
          margin: 10px;
          padding: 15px 45px;
          text-align: center;
          text-transform: uppercase;
          transition: 0.5s;
          background-size: 200% auto;
          color: white;            
          // box-shadow: 0 0 20px #eee;
          border-radius: 10px;
          display: block;
          border: none;
          
          &:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
        }
              
       .button2 {
          background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
          margin: 10px;
          padding: 15px 45px;
          text-align: center;
          text-transform: uppercase;
          transition: 0.5s;
          background-size: 200% auto;
          color: white;            
          // box-shadow: 0 0 20px #eee;
          border-radius: 10px;
          display: block;
          border: none;
          
          &:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
        }
       
                
              }

              .buttonsText {
                flex: 1;
              }
            }

           .projectcard {
            display: flex;
            gap: 50px;
            margin-top: 50px;
            margin-bottom: 100px;
            
            .cards {
              border-radius: 10px;
              margin-left: auto;
              margin-right: auto;
              width: 350px;
              height: 400px;
              background-color: themed('bgSoft');
            }
           } 


     }

        .background {
          //  background-color: themed('bgSoft');
            display: grid;
            place-items: center;
            height: 100vh;
          .gallery {
            display: flex;
            left: calc(50% - 330px);

            .card {
              position: relative;
              left: 0px;
              width: 310px;
              height: 360px;
              // background-color: themed('bg');
              border-radius: 8px;
              transition: 1s ease-in-out;
              overflow: hidden;
              box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);

              &:not(:first-child) {
                margin-left: -45px;
            }
        
            &:hover {
                transform: translateY(-16px);
                font-weight: bold;
                cursor: pointer;
            }
        
            &:hover ~ .card {
                left: 55px;
            }
             
              .figure {

                img {
                  height: 160px;
                  object-fit: cover;
                  border-radius: 4px;
                }

              }
            }
          }

          .bg-text {}
      
        }}
   
}



 