@import "../../style.scss";

.home {
  @include themify($themes) {
    background-color: themed("bg");
    color: themed("textColor");
    padding: 10px 10px;

    .softwareIntro {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 90vh;
      gap: 20px;


      .wordIntro {
        flex: 1;

        h1 {
          background: #B7DEED;
          background: linear-gradient(to right, #B7DEED 0%, #71CEEF 25%, #21B4E2 75%, #B7DEED 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 3rem;
        }
      }
      .dpIntro {
        flex: 1;

          animation-name: ani-float;
          animation-duration: 3s;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out; 
          
        @keyframes ani-float {
            0% { transform: translate(0,  0px); }
            50% { transform: translate(0, 15px); }
            100% { transform: translate(0, -0px); }    
          }
        

        img {
          height: 30vh;
          width: 30vhw;
          border-radius: 10px;
          -webkit-box-shadow:0px 0px 83px 38px #2664a6 ;
-moz-box-shadow:0px 0px 83px 38px #2664a6 ;
box-shadow:0px 0px 83px 38px #2664a6 ;
        }
      }
        .projectIntro {
        }

        .photoIntro {
        
      
        }}
  }
   
}



 