@import "../../style.scss";

.footer {
  @include themify($themes) {
    background-color: themed("bg");
    color: themed("textColor");
    font-size: 12px;
    font-weight: 600;
    height: 100px;
    border-top: 1px solid themed('border');

    .bluehike {
      background: #B7DEED;
      background: linear-gradient(to right, #B7DEED 0%, #71CEEF 2%, #21B4E2 52%, #B7DEED 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-left: 5px;
      margin-right: 5px;
      font-weight: 800;
    }
  }}